@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

:root {
    --primary-color: #0092fb;
    --secondary-color: #198BCA;
    --accent1-color: #00569B;
    --accent2-color: #4CAF50;

    --heading-font: 'Roboto' ,serif;
    --paragraph-font: 'Open Sans', serif;

    --nav-link-color: #333;
    --nav-hover-link-color: #00569B;

    --footer-background-color: #454545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

p {
    padding: 20px;
}

li {
    list-style: none;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img {
    width: 120px;
    margin: 0 auto;
}

header nav {
    /* background-color: var(--nav-background-color); */
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-self: center;
}

header nav a {
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    color: var(--nav-link-color);
}

header nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

header nav a:hover {
    color: var(--nav-hover-link-color);
}



/**** Class Selectors ****/

.bold {
    font-weight: bold;
}

.subtitle {
    text-align: center;
    font-size: 2em;
}

.hero section {
    padding-bottom: 20px;
}

/* About Page : Mission */
.hero .mission {
    position: relative;
}

.hero .mission .bg img, .adventure img {
    display: block;
    width: 100%;    
    height: auto;
}

.hero .mission h1, article {
    position: absolute;
}

.hero .mission h1 {
    top: 15%;
    left: 30%;
    color: #fff;
    text-shadow: 0 0 10px #1b1b1b;
    font-size: 2.7em;
}

.hero .mission article {
    top: 30%;
}

.hero .mission article .transbox {
    margin: 30px;
    background-color: #000000a6;
    box-shadow: 0 0 10px #1b1b1b;
    opacity: 0.9;
    text-align: left;
}

.hero .mission article .transbox p {
    padding: 40px;
    color: #fff;
}

.hero .mission article img {
    float: right;
    width: 25%;
    height: auto;
    padding: 20px;
    padding-right: 10px;
}

/* About Page : History */
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history .history_title {
    grid-column: 1/4;
}

.history img {
    align-self: center;
    margin: 0 auto;
}

/* About Page : Adventure */
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.adventure .adventure_title {
    grid-column: 1/6;
}

/* Contact Page - Company Info */
.contact_container .contact_title {
    text-align: center;
    padding: 2rem 0;
}

.contact_container .info_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;
}

.contact_container .info_container .info {
    padding: 100px 40px;
    background-image: url('https://sehee-jang.github.io/wdd130/wwr/images/contact_bg.jpg');
}

.contact_container .info_container .info h2 {
    color: #fff;
}

.contact_container .info_container .info span {
    color: #abdcff;
}

.contact_container .info_container .info li:first-child {
    border-bottom: 3px solid #abdcff;
    padding: 1rem 0;
}
.contact_container .info_container .info li {
    padding: 1rem 0 0 1rem;
    color: #fff;
}

.contact_container .info_container .map {
    /* width: 100%;
    height: auto; */
}

/* Contact Page - Employees */
.employees_container {
    background-color: #abdcff;
    padding: 20px 20px;
}

.employees_container .employees {
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.employees_container .employees figure, .employees_container .employees figcaption {
    text-align: center;
}

.employees_container .employees figcaption{
    padding-top: 10px;
}

.employees_container .employees img {
    width: 60%
}

.employees_container .employees p {
    padding: 0;
}

/* Contact Page - Form */
.form_container {
    padding: 10px 10px 25px 0;
    background: #eee;
}

.form_container h2 {
    font-size: 28px;
    color: #222;
    text-align: center;
    padding: 25px 0;
}

.form_container .line {
    width: 150px;
    margin: 0 auto;
    border-top: 3px solid #0092fb;
    padding: 1rem 0;
}

.form_container form {
    width: 500px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.form_container form fieldset {
    display: grid;
    text-align: left;
    grid-gap: .5rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #555;
    border-radius: .5rem;
}

.form_container form fieldset legend {
    padding: 0 1rem;
    font-weight: bold;
    color: #017cd4;
    font-size: 18px;
}

.contact_info input {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

.contact_info {
    margin: 0 auto;
    padding: 5px 0;
}

.contact_info input, select, textarea {
    padding: 0 .5rem;
    font-size: 1rem;
}

/* Contact Page - Form(Questions) */
.questions {
    display: grid;
    align-items: center;
    row-gap: .5rem;
}

label[for="purpose"] {
    grid-column: 1/4;
}

label[for="purpose"] , label[for="message"] {
    font-weight: bold;
}

label[for="general"], label[for="reservation"], label[for="suggestion"] {
    grid-column: 2/4;
}

.form-item {
    margin: 0 auto;
    width: 330px
}

.checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

button {
    width: 100px;
    padding: .5rem;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: .5rem;
    border: none;
    text-align: center;
}

button:hover {
    background-color: #037fd2;
}

/* Footer */ 
.footer_container {
    background-color: var(--footer-background-color);
    color: #c9c9c9;
    display: flex;
    align-items: center;
}

.footer_container p {
    flex: 2;
    text-align: center;
    padding-left: 15%;
}

.footer_container .socialmedia {
    padding-right: 2%;
}
.footer_container .socialmedia img {
    padding-right: .5rem;
}