@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #333;
    background-color: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: #0126a2;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid #555;
    border-radius: .5rem;
    display: grid;
    background-color: #fbfbfb;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #555;
    border-radius: .5rem;
}

legend {
    padding: 0 1rem;
    font-weight: bold;
    color: #0126a2;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

label[for="feedback"] {
    padding-right: 9.5rem;
}

input, select, textarea {
    padding: 0 .5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    width: 100px;
    padding: .5rem;
    background-color: #00208a;
    color: #fff;
    margin: 0 auto;
    border-radius: .5rem;
    border: none;
}

button:hover {
    background-color: #1a42c2;
}

footer {
    margin: 1rem auto 0;
    padding: 1rem 0;
    width: 650px;
    text-align: center;
    font-size: .7rem;
    color: #888;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .3rem 0;
}