* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: #01559a;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;

}

h1 {
    color: #01559a;
    padding: .5rem;
    border-bottom: 1px solid #01559a;
}

main {
    height: auto;
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 10px #cecece;
    float: right;
    margin: 1rem;

}

p {
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 125px;
    color: #fff;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #eee;
    color: #000
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}